.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__hashtag {
  margin: 0 auto;
  padding: 33px 0 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__social,
  .page-footer__copyright {
    width: 256px;
  }

  .page-footer__hashtag {
    width: 136px;
    padding: 0;
    margin: 85px auto;
  }

  .page-footer__social {
    margin-top: 35px;
  }

  .page-footer__copyright {
    margin-top: -5px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__social,
  .page-footer__copyright {
    width: 400px;
    margin-top: 35px;
  }

  .page-footer__hashtag {
    margin: 82px auto 0;
    margin-left: 119px;
  }
}
