.form {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}
fieldset{
  border: none;
}
legend {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.form__comment {
  font-weight: bold;
  text-align: center;
}
.form__introduce input {
  height: 58px;
  background-color: @lightestgrey;
  border: none;
}

.introduce__name,
.introduce__surname,
.introduce__patronymic {
  padding: 0;
  margin: 0 20px 20px 0;
  width: 280px;
}
.introduce__name input {
  width: 230px;
  margin-left: 9px;
}
.introduce__surname input {
  width: 192px;
  margin-left: 10px;
}

.introduce__patronymic input {
  width: 193px;
  margin-left: 13px;
}
 .contacts__tel input,
 .contacts__mail input {
   width: 280px;
   height: 58px;
   background-color: @lightestgrey;
   border: none;
 }
 .impression__bad,
 .impression__good,
 .impression__none {
   margin-left: 75px;
   margin-bottom: 30px;
   position: relative;
 }
.impression svg {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -56px;
  top: -10px;
}

.impression input[type=radio]:checked+label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left:-41px;
  top: 5px;
  background-color: black;
}

.form__sights p {
  margin-left: 75px;
  margin-bottom: 30px;
  position: relative;

}

.form__sights svg {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -56px;
  top: -10px;
}

.form__sights input[type=checkbox]:checked+label::before{
  content: "";
  width: 23px;
  height: 16px;
  background: url("../img/icon-tick.svg");
  position: absolute;
  left:-44px;
  top: 5px;
}


textarea {
  width: 279px;
  min-height: 179px;
  background-color: @lightestgrey;
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 768px) {
  .form  {
    width: 768px;

  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  .form__impression,
  .form__introduce {
    margin: 0;
    width: 350px;

  }
  .form__impression {
    order:-1;
  }
  .form__contacts,
  .form__sights {
    width: 768px;
  }
  .form__comment {
    width: 768px;;
  }

  textarea {
    width: 648px;
}
}

@media (min-width: 1200px) {
  .form {
    width: 1200px;
  }

  .form__impression,
  .form__introduce {
    width: 550px;
    outline: 1px solid red;
  }

  .form__contacts,
  .form__sights {
    width: 1200px;
  }

  .form__comment {
    width: 1200px;;
  }

  textarea {
    width: 960px;
}
}
