.fotos {
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid @lightestgrey;
}

.foto__text--description,
.foto__text--like {
  font-weight: 700;
  text-transform: uppercase;
}

.foto__text--description,
.foto__text--like,
.foto__text--author {
  margin-left: 21px;
}

.foto__text--like {
  position: relative;
  margin-left: 60px;
}

.foto__text--like::before {
  content: "";
  width: 22px;
  height: 20px;
  background-image: url("../img/icon-like.svg");
  position: absolute;
  left: -38px;
  top: -5px;
  opacity: 0.3;
}

.foto__image {
  width: 280px;
  height: 280px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .fotos {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .foto {
    width: 324px;
    background-color: @lightestgrey;
  }

  .foto__text--description,
  .foto__text--like,
  .foto__text--author {
    margin: 0;
  }

  .foto__text--description,
  .foto__text--author {
    width: 180px;
    margin-left: 20px;
  }

  .foto__text--description {
    margin-top: 22px;
  }

  .foto__image {
    width: 324px;
    height: 267px;
  }

  .foto--sunset {
    width: 648px;
    margin: 0 auto;
  }

  .fotos section:nth-child(2n):not(.foto--cactus) {
    margin: 0 384px 0 60px;
  }

  .foto__image--sunset {
    width: 648px;
    height: 400px;
  }

  .foto__text {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .foto__text--like {
    width: 31px;
    align-self: flex-end;
    margin: 35px 25px 34px auto;
  }
}

@media (min-width: 1200px) {
  .fotos {
    width: 1200px;
  }

  .foto {
    width: 400px;
    min-height: 267;
    position: relative;
  }

  .foto__image {
    display: block;
    width: 400px;
    height: 267px;
  }

  .foto__text {
    width: 100%;
    min-height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .foto__text--description,
  .foto__text--like,
  .foto__text--author {
    color: white;
  }

  .foto__text--like::before {
    background-image: url("../img/icon-like-desctop.svg");
    opacity: 1;
  }

  .foto--sunset {
    width: 1200px;
    min-height: 400px;
  }

  .foto__image--sunset {
    width: 1200px;
    height: 400px;
  }

  .fotos section:nth-child(2n):not(.foto--cactus) {
    margin: 0 auto;
  }
}
