.main-nav {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
.main-nav__toggle {
  display: none;
}

.main-nav {
  width: 768px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
}
@media (min-width: 1200px) {
.main-nav {
  width: 1200px;
}
}
