.main-nav {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
  min-height: 56px;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  margin-top: 16px;
  margin-bottom: 19px;
  margin-right: 20px;
  margin-left: 277px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: white;
  border: none;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  width: 23px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  position: absolute;
  z-index: 12;
  top: 0;
  right: 0;
}

@media (max-width: 767px) {
  .main-nav--closed .site-menu__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle::before {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    opacity: 0;
  }

  .main-nav--nojs .site-menu__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: 768px;
    margin: 0 auto;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }
}
