.main-nav {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.main-nav__logo-image {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 222px;
  margin-left: -51px;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  margin-top: 16px;
  margin-bottom: 19px;
  margin-right: 20px;
  margin-left: auto;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;
}

.main-nav__toggle::before {
  content: "";
  width: 23px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 20px;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: 768px;
    margin: 0 auto;
    display: flex;
  }

  .main-nav__logo-image {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -51px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }

  .main-nav__logo-image {
    width: 188px;
    height: 96px;
  }
}
