.map {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 350px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.map h3 {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .map {
    width: 768px;
    margin: 0 auto;
    margin-bottom: -35px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  iframe {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .map {
    width: 1200px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  iframe {
    width: 1200px;
  }
}
