.modal {
  display: none;
  width: 207px;
  margin: 0 auto;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  padding: 42px 57px 0 56px;
  text-transform: uppercase;
  text-align: center;
}

.modal-thanks {
  width: 280px;
  padding: 49px 20px 0 20px;
  background-image: linear-gradient(white 220px, @lightestgrey 220px);
}

.modal__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}

.modal__text {
  padding: 0;
  width: 214px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  white-space: pre-line;
  box-sizing: border-box;
}

.modal__close {
  width: 180px;
  padding: 19px 78px;
  margin: 25px auto 35px;
  background-color: @blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}

.modal-thanks .modal__close {
  width: 280px;
  padding: 22px 75px;
  margin: 22px auto 20px;
}
