.reasons {
  width: 320px;
  margin: 0 auto;
}

.reasons__list {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.reasons__item {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  background-color: #eeeeee;
  color: black;
  border-bottom: 1px solid #d5d5d5;
}

.reasons__item--square h3 {
  margin-top: 22px;
  margin-bottom: 10px;
}

.reasons__item--square p {
  margin-bottom: 27px;
}

.reasons__item--road {
  padding-top: 10px;
}

.reasons__item--tourists {
  padding-top: 9px;
  border-bottom: none;
}

.reason__text--square {
  width: 238px;
}

.reason__text--road {
  margin-bottom: 30px;
  width: 207px;
}

.reason__text--tourists {
  margin-bottom: 22px;
  width: 248px;
}

@media (min-width: 768px) {
  .reasons {
    width: 768px;
    margin: 0 auto;
  }

  .reasons__list {
    display: flex;
  }

  .reasons__item {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  .reasons__item h3 {
    margin: 44px auto 8px;
  }

  .reasons__item p {
    margin: 0 auto;
  }

  .reasons__item--road {
    padding-top: 0;
  }

  .reasons__item--tourists {
    padding-top: 0;
  }

  .reasons__item--road p {
    width: 132px;
    margin-bottom: 45px;
  }

  .reason__text--square {
    width: 159px;
  }

  .reason__text--tourists {
    width: 145px;
  }
}

@media (min-width: 1200px) {
  .reasons {
    width: 1200px;
  }

  .reasons__item {
    width: 400px;
  }

  .reasons__item h3 {
    margin-bottom: 10px;
  }

  .reasons__item--road p {
    width: 262px;
    margin-bottom: 70px;
  }

  .reasons__item--square p {
    width: 285px;
    margin-bottom: 70px;
  }

  .reasons__item--tourists p {
    width: 260px;
    margin-bottom: 70px;
  }
}
