.reasons__list {
  margin: 0;
  padding: 0;
}

.reasons__item {
  margin: 0;
  padding: 0;
  width: 320px;
  margin: 0 auto;
  background-color: #eeeeee;
  color: black;
}

@media (min-width: 768px) {
.reasons {
  width: 768px;
  margin: 0 auto;
}

.reasons__list {
  display: flex;
  min-height: 256px;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}

@media (min-width: 1200px) {
.reasons {
  width: 1200px;
 }

 .reasons__item {
   width: 400px;
 }
}
