.reason {
  font-size: 14px;
  line-height: 21px;
  background-color: @blue;
  color: white;
  text-transform: uppercase;
  list-style: none;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
}
