.search-hotels {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}

.search-hotels__title {
  margin: 0;
  padding: 33px 0 21px;
  font-size: 21px;
  line-height: 26px;
}

.search-hotels__text {
  width: 265px;
  margin: 0 auto 34px;
  font-size: 14px;
  line-height: 24px;
}

.search-hotels__button {
  display: block;
  width: 280px;
  margin: auto;
  margin-bottom: 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  padding: 15px 0 19px;
  background-color: @blue;
}

.search-hotels__button:hover {
  background-color: @bluedarker;
}

.search-hotels__button:active {
  background-color: @bluedark;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels__button:disabled {
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .search-hotels {
    margin: 0 auto;
    width: 768px;
  }

  .search-hotels__title {
    padding: 55px 0 30px;
    font-size: 30px;
    line-height: 26px;
  }

  .search-hotels__text {
    width: 435px;
    margin: 0 auto 42px;
  }

  .search-hotels__button {
    width: 458px;
    margin: 0 auto 56px;
    padding: 15px 0 19px;
  }
}

@media (min-width: 1200px) {
  .search-hotels {
    margin-top: -25px;
    width: 1200px;
  }

  .search-hotels__title {
    padding: 76px 0 30px;
  }

  .search-hotels__text {
    width: 440px;
    margin: 0 auto 47px;
    white-space: pre-line;
  }

  .search-hotels__button {
    margin: 0 auto 65px;
    padding: 16px 0 18px;
  }
}
