.site-menu {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  background-color: @blue;
}

.site-menu a {
  color: #ffffff;
}

.site-menu__item {
  padding: 9px 0 7px;
  margin: 0;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .site-menu {
    width: 768px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }

  .site-menu a {
    color: @black;
  }

  .site-menu__item {
    box-shadow: none;
    padding-top: 16px;
    padding-bottom: 15px;
  }

  .site-menu__item--main {
    padding-left: 49px;
    padding-right: 48px;
  }

  .site-menu__item--foto {
    padding-left: 29px;
    padding-right: 103px;
  }

  .site-menu__item--feedback {
    padding-left: 104px;
    padding-right: 21px;
  }

  .site-menu__item--link {
    padding-left: 28px;
    padding-right: 26px;
  }
}

@media (min-width: 1200px) {
  .site-menu {
    width: 1200px;
  }

  .site-menu__item--main {
    padding-left: 91px;
    padding-right: 92px;
  }

  .site-menu__item--foto {
    padding-left: 70px;
    padding-right: 172px;
  }

  .site-menu__item--feedback {
    padding-left: 208px;
    padding-right: 69px;
  }

  .site-menu__item--link {
    padding-left: 70px;
    padding-right: 70px;
  }
}
