.video-description__title {
  margin-top: 39px;
  font-size: 18px;
  line-height: 26px;
}

.video-description__text {
  width: 240px;
  margin: 35px auto;
  font-size: 14px;
  line-height: 24px;
}

.video-description {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}
